*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    display:flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    
    
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid;
    background: transparent;
    color: white;
    
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(19, 5, 58);
    border: none;
    color: aliceblue;
    margin-top: 30px;
}
form h1{
    margin-bottom: 30px;
    color: white;
}